<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DomainIp" connectionString="192.168.1.11:8080"/>
    <add name="PathCertificados" connectionString="C:\sites\ECS\Seasons\"/>
    <add name="URL" connectionString="http://192.168.1.11:8080/"/>
    <add name="the_ecsConnectionString1" connectionString="Data Source=BLIND\SQLEXPRESS;Initial Catalog=the_ecsystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <urlMappings>
      <add url="~/" mappedUrl="~/pages/Default.aspx"/>
      <add url="~/Temporada" mappedUrl="~/pages/Season.aspx"/>
      <add url="~/Eventos" mappedUrl="~/pages/event/Default.aspx"/>
      <add url="~/Evento" mappedUrl="~/pages/event/Edit.aspx"/>
      <add url="~/Participantes" mappedUrl="~/pages/users/Default.aspx"/>
      <add url="~/Participante" mappedUrl="~/pages/users/Edit.aspx"/>
      <add url="~/Config" mappedUrl="~/pages/Config.aspx"/>
      <add url="~/Check" mappedUrl="~/pages/Check.aspx"/>
    </urlMappings>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings/>
  <system.webServer/>
</configuration>